
.main-div{
    background-color: lightblue;
    width: 100%;
}

.ticket-div{
   
    margin: auto;
    width: 40%;
    border: 3px solid #73AD21;
    padding: 10px;
   
    background-color:beige;
    
}

td,th{
    border: 1px solid #ddd;
    padding: 8px;
  }
  .btn-remove{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
  }