    <input type="text" placeholder="Coupon code" [(ngModel)]="newCoupon.couponCode"/>
    <input type="date" placeholder="Expiry Date" [(ngModel)]="newCoupon.expiryDate"/>
    <input type="status" placeholder="Status" [(ngModel)]="newCoupon.status"/>
    <input type="text" placeholder="discount price" [(ngModel)]="newCoupon.discountPrice"/>
    <button (click)="addDiscountCoupon()">Add Coupon</button>

    <table *ngIf="discountCoupons.length>0">
        <tr>
           <th>S.no</th>
           <th>Coupon code</th>
           <th>Expiry date</th>
           <th>Status</th>
           <th>Discount price</th>
        </tr>
        <tr *ngFor="let coupon of discountCoupons; let i = index">
           <td>{{i+1}}</td>
           <td>{{coupon.couponCode}}</td>
           <td>{{coupon.expiryDate}}</td>
           <td>{{coupon.status}}</td>
           <td>{{coupon.discountPrice}}</td>
           <td ><button (click)="modifyCoupon(coupon)">Modify</button></td>
           <td ><button (click)="deleteCoupon(coupon.couponCode)">Delete</button></td>
           
        </tr>
     </table>